/*** variables ***/

:root {
    --color-dark: #111b47;
    --color-font-dark: #091133;

    --font-size-md: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-xs: 0.75rem;
}




body {
    background: #fff;
    font-family: 'Inter', 'Mulish', 'Playfair Display', sans-serif;
    color: #505f98;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1219px;
    margin: 0 auto;
}



@media only screen and (min-width: 2560px) {
    .graf__heading {
        font-size: 36px; 
    }
}



.graf__heading {
    font-size: 28px;
}

.left,
.right {
    float: left;
    width: 20%;

}

.main {
    float: left;
    width: 60%;

}


a {
    text-decoration: none;
    color: #505f98;
}

button {
    border: 0;
}

.container {
    max-width: 1219px;
    margin: 0 auto;
}


li {
    display: block;
}

