.header_menu {
    display: none;
    width: 32px;
    cursor: pointer;
}

.header__nav ul {
    display: flex;
}

.header__nav-item {
    font-size: 14px;
    margin-right: 35px;
    padding-top: 40px;
    font-family: 'Inter';
}

.heaaader__nav-link {
    color: #202336;
}

.heaader__nav-link {
    color: #B8BECD;
    transition: 0.35s;
}

.heaader__nav-link:hover {
    color: blue;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__title {
    padding-top: 10px;
    padding-right: 100px;
}


.buttons {
    padding-top: 35px;
    font-family: 'Inter';
}

.header__log {
    background: #fff;
    width: 132px;
    border-radius: 8px;
    border: 1px solid #FB8F1D;
    color: #FB8F1D;
    font-weight: 500;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    margin: 18px;
}


.header__reg {
    background: #FB8F1D;
    width: 132px;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media screen and (max-width: 969px) {
    .baba {
        background-image: none;
    }

    .header {
        width: 100%;
        position: fixed;
        margin: 0px;
        left: 0;
        right: 0;
        padding:20px;
        background-color: #fff;
        z-index: 10;
    }

    .header_menu{
        display: block;
    }

    .header__nav {
        background: #e7ecff;
        position: fixed;
        top:72px;
        left:0;
        right: 0;
        bottom: 0;
        margin-top: 0;
        clip-path: circle(0 at top left);
        transition: clip-path 0.9s ease-in;
    }

    .header__nav ul {
        flex-direction: column;
        height: 100%;
    }

    .header__nav-item {
        flex: 1;
        padding: 5vh;
        margin-right:0;
    }

    .header__nav a {
        font-weight: 500;
        display: block;
        font-size: 2em;
    } 

}

